<!DOCTYPE html>
<html>
<head>
    <title>Prediction App</title>
</head>
<body>
    <h1>Enter Input Data</h1>
    <form action="/predict" method="post">
        <label for="input_data">Input Data:</label>
        <input type="text" id="input_data" name="input_data">
        <button type="submit">Predict</button>
    </form>
    {% if prediction is not none %}
        <h3>
            {% if prediction == 0 %}
                The prediction is - No Stress
            {% elif prediction == 1 %}
                The prediction is - Stressed
            {% endif %}
        </h3>
    {% endif %}
</body>
</html>